[build]
publish = "dist"
command = "pnpm run build"

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[redirects]]
from = "/signed"
to = "https://dvjcuwsdfkdjuotqaqbu.supabase.co"
status = 200
force = true
headers = {X-From = "Netlify"}