.advantages {
  background-color: var(--qwik-light-blue);
  width: 100%;
  display: flex;
  color: var(--qwik-dirty-black);
  margin: 0 !important;
}

.advantagesContainer {
  padding-top: 0 !important;
  margin-bottom: 5rem !important;
}

.advantagesList {
  display: flex;
  color: var(--qwik-dirty-black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  line-height: 1.5;
  gap: 10px;
  width: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.listItem {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem !important;
  padding-top: 1.5rem;
  color: var(--qwik-dirty-black);
  margin: 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3.5rem !important;
  }
}