@font-face {
    font-family: 'Manrope';
    src: url('/src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}