.bgcolor {
  background-color: black;
}

.anchor {
  /* color: white !important; */
  display: block;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  color: #009dfd;
  padding-left: 15px;
}

.anchor span:not(.spacer) {
  display: block;
}

.spacer {
  display: none;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}
