.hero {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: "auto";
  justify-content: center;
  gap: 40px;
  position: relative;
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.button-group a {
  font-size: 1.25rem !important;
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 60px;
    height: "auto";
  }

  .hero p {
    font-size: 1.3rem;
  }
}

.heroTitle {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.2 !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  will-change: transform;
  contain: layout;
  padding-top: 5rem;
}

.heroGradient {
  background: linear-gradient(120deg, var(--qwik-light-blue) 48%, var(--qwik-fusha) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (min-width: 768px) {
  .heroTitle {
    font-size: 5rem;
  }
}