.questions {
  width: 100%;
  display: flex;
}

.questionsContainer {
  padding-bottom: 0 !important;
  margin-bottom: 5rem !important;
}

/* .questionsList{} */

.title {
  font-size: 2rem !important;
  padding: 1.5rem 0;
  width: 100%;
  margin: 1.5rem auto;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3.5rem !important;
    width: 75%;
  }
}