.further {
  width: 100%;
  display: flex;
}

.furtherList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  line-height: 1.5;
  gap: 10px;
  width: fit-content;
  max-width: 1200px;
  margin: 0 auto;
}

.listItem {
  display: flex;
  align-items: center;
}