header {
  /* border-bottom: 3px solid var(--qwik-dark-purple); */
  position: sticky;
  top: 0; /* -110px use to hide with scroll */
  background-color: var(--qwik-dark-background);
  z-index: 25;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 !important;  
}

.logo {
  display: inline-block;
}
.logo a {
  display: block;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.header li a {
  color: white;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--qwik-light-blue);
}

.mobileMenu ul {
  position: absolute;
  left: 25px;
  display: none;
  flex-direction: column;
  top: 90px;
  padding: 3rem !important;
  background-color: var(--qwik-light-blue);
  /* opacity: 93%; */
  z-index: 15;
  min-width: 330px;
  border-radius: 16px;
}

@media screen and (min-width: 900px) {
  .header li {
    display: inline-block;
  }
  .wrapper {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .wrapper:hover .mobileMenu ul {
    display: flex !important;
  }
  .mobileMenu li {
    display: inline-block;
  }
  .mobileMenu li a, .mobileMenu li a:hover, .mobileMenu li a:visited{
    color: var(--qwik-dark-text);
  }
}
