.features {
  background-color: var(--qwik-purple-background);
  width: 100%;
  display: flex;
}

.hint {
  color: white;
}

.servicesBriefcase {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  line-height: 1.5;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1rem;
}