testimonials a {
    color: var(--qwik-dark-blue) !important
}

.title {
    font-size: 2rem !important;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 3.75rem !important;
    }
}

