#testimonials-section {
  max-width: fit-content;
}

testimonials a {
  color: var(--qwik-dark-blue) !important;
}

.testimonials {
  background-color: var(--qwik-purple-background);
  display: flex;
  justify-content: center;
}