@import "tailwindcss";

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-light-blueberry: #6366f1;
  --qwik-fusha: #fe4ff2;
  --qwik-dark-purple: #713fc2;
  --qwik-purple-background: #7c2ce7;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #000033;
  --qwik-dark-text: #ffffff;
}